<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<link rel="stylesheet" href="css/style.css">
		<title>Email HTML Content Analyzer</title>
	</head>

	<body>
		<h1>Email HTML Content Analyzer</h1>
    <fieldset>
        <form action="/" method="post">
          <input name="file" type="file" class="ghost-input" placeholder="" required>
          <input type="submit" class="ghost-button" value="Submit">
        </form>
    </fieldset>
		<div class="results">
			<h2 class="title">Results:</h2>
			<div class="results_data">
				<h4 class="sender">Sender: </h4>
				<h6 class="sender-result"></h6>
				<h4 class="email">Sender email: </h4>
				<h6 class="email-result"></h6>
				<h4 class="content_type">Content-type: </h4>
				<h6 class="content_type-result"></h6>
				<h4 class="text_part">Text part: </h4>
				<h6 class="text-encoding"></h6>
				<h6 class="text-lines"></h6>
				<h4 class="html_part">HTML part: </h4>
				<h6 class="html-encoding"></h6>
				<h6 class="html-media"></h6>
			</div>
		</div>
	</body>

	<script type="text/javascript" src='./index.js'></script>

</html>
